@model IEnumerable<Product>
@*<section class="container-fluid card-container">

        @foreach (var item in Model)
        {
            <div class="card text-white text-center">
                <img src="@(string.Format("{0}", item.Image))" class="card-img" alt="@item.Name">
                <div class="card-img-overlay d-flex justify-content-center">
                    <a href="#" class="btn btn-primary align-self-end mb-3 card-btn">@item.Name</a>
                </div>
            </div>
        }
    </section>*@




<div class="container productscard-container">
        <div class="row">
            <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    @foreach (var item in Model)
                    {
                    <div class="item">
                        <div class="card mb-2">
                            <img class="card-img-top" src="@item.Image"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">@item.Name</h4>
                                <div class="rating">
                                    @{
                                        var rand = new Random();
                                        int randomNumber = rand.Next(1,6);
                                    }
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (randomNumber <= i)
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-star"></i>
                                        }


                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        </div>
    </div>